#comparison_tabs {
  width: 33em;
}

#company_container {
  width: 15em;
  display: flex;
  float: left;
  justify-content: flex-start;
}

#company_comparison_div {
  width: 13em;
}

.data_display_div {
  display: flex;
  background-color: red;
  flex-wrap: wrap;
}

#appBar {
  background-color: #ff8f00;
}

#loginButton {
  background-color: #ffc107;
}

#company_individual_toggle {
  background-color: #ffa000;
}

#linkedinButton {
  width: 174px;
  height: 42px;
}
