#comparison_tabs {
  width: 33em;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(250, 250, 250);
  color: #424242;
}

#company_container {
  width: 15em;
  display: flex;
  float: left;
  justify-content: flex-start;
}

#company_comparison_div {
  width: 13em;
}

.vertical_tab_bar {
  background-color: #eceff1;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.data_display_div {
  display: flex;
  background-color: red;
  flex-wrap: wrap;
}

#linkedinButton {
  width: 174px;
  height: 42px;
} 

.current_user_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#current_user_name {
  font-weight: 100;
  font-size: 2.5rem;
}

#current_user_label {
  font-weight: 700;
  font-size: 1rem;
}

#tables_div {
  margin-top: 3rem;
}

.table_displays {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#comparison_tabs {
  margin-top: 2rem;
}

#appBar {
  background-color: #ff8f00;
  justify-content: space-between;
}
